html, body {
    font-family: "Droid Serif", Verdana, serif;
}

.Component {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    margin: 20px auto 0;
}
